$border-radius-base: 0;
$border-radius-large: 0;
$border-radius-small: 0;
$ORANGE: #e68a20;

$btn-success-bg: $ORANGE;

@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

/* Space out content a bit */
body {
    padding-bottom: 20px;
}

p {
    margin: 1.2em 0;
}

h2, h3 {
    :link, :visited {
        color: black;

        &:hover {
            text-decoration: none;
        }
    }
}

.example-list {
    display: inline-block;
    padding-left: 1em;
    margin: 0;
    margin-top: 10px;
    &>li {
        padding: 0;
    }
}

.content-wrapper {
    min-height: 700px;
}

.nav li {
    float: left;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    background-image: url("/images/title.jpg");
    background-size: cover;
    background-position: center;
    color: $ORANGE;
    margin-bottom: 0;
    padding: 0;
    margin-top: 50px;

    .jumbotron-inner {
        background: rgba(black, 0.4);
        padding: 30px;
        margin: 0;
        &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            height: 100%;
            margin-left: -4px;
        }
    }

    .container {
        display: inline-block;
        vertical-align: middle;
    }
    
    h1 {
        text-shadow: 2px 2px 2px #000;
    }
    
    .lead {
        text-shadow: 1px 1px 1px #000;
    }
}

.search-container {
    padding-left: 0;
    position: relative;
}

.search-bar {
    padding: 0.4em 0;
    background: lighten($ORANGE, 45);

    input {
        appearance: none;
        font-size: 1.5em;
        border: none;
        background: transparent;
        height: 2em;
        padding-left: 2em;
        width: 100%;

        background-image: url("/images/search.png");
        background-size: 1.6em;
        background-position: 0.2em 0.2em;
        background-repeat: no-repeat;

        outline: none;
    }

    .close-icon {
        display: block;
        text-decoration: none;
        border: none;
        padding: 0;
        margin: 0;
        width: 2em;
        height: 2em;
        line-height: 2em;
        position: absolute;
        background-color: $ORANGE;
        z-index:1;
        right: 1em;
        top: 50%;
        margin-top: -1em;
        bottom: 0;
        border-radius: 50%;
        text-align: center;
        color: white;
        font-weight: normal;
        cursor: pointer;
    }

    .search-box:not(:valid) {
        box-shadow: none;
        outline: none;
        & ~ .close-icon {
            display: none;
        }
    }
}

.sort-switch {
    padding: 1em;
    display: inline-block;

    button {
        font-weight: bold;
    }
}

.sort-switch-outer {
    text-align: center;
}

.project {
    padding: 1px;
    margin-bottom: 1em;
    background: $ORANGE;
    position: relative;
    color: #fefefe;
    border-radius: 5px;
    border-bottom: 5px solid darken($ORANGE, 10);

    $padding: 10px;
    $links-width: 10.5em;

    .image {
        width: 15%;
        float: left;
        padding: 10px 5px;
        box-sizing: border-box;

        img {
            max-width: 100%;
            max-height: 7em;
            transition-duration: 0.2s;
            position: relative;
        }
    }

    .text {
        width: 85%;
        float: left;
        position: relative;
    }


    &.no-image {
        .image {
            display: none;
        }

        .text {
            width: 100%;
        }
    }

    &:after {
        content: "";
        display: block;
        clear: both;
    }

    :link, :visited {
        color: white;
    }

    .stats {
        position: absolute;
        right: $padding;
        top: 7px;
    }

    .stars {
        display: inline-block;
        margin: 0 3px;
        color: white;
        font-size: 1.2em;
        a:after {
            content: " \2605";
        }
    }

    header {
        padding: $padding;
        padding-bottom: 0;
        position: relative;
        margin-right: $links-width;

        .title {
            font-size: 2em;
            display: inline-block;
            margin-right: 4px;
        }

        .author {
            display: inline-block;
            font-style: italic;

            &:before {
                content: "by ";
            }
        }

        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .links {
        position: absolute;
        top: 15px;
        bottom: 0;
        right: $padding;
        width: auto;

        :link {
            display: inline-block;
            background: darken($ORANGE, 10);
            font-weight: bold;
            padding: 5px;
            vertical-align: middle;
            margin: 0 3px;

            &:hover {
                text-decoration: none;
                background: lighten($ORANGE, 10);
            }
        }

        :link, :visited {
            color: white;
        }

        &:after {
            content: "";
            display: inline-block;
            height: 100%;
            vertical-align: middle;
        }
    }

    .body {
        position: relative;
        min-height: 2.5em;
        margin-right: $links-width;
        font-size: 1.1em;

        .description {
            padding: $padding;
            padding-top: 0;
        }
    }
}

.project-list-container {
    .alert {
        margin: 2em 0;
    }
}

.project-list {
    list-style: none;
    padding: 0;
    margin: 2em 0;
    margin-top: 0.5em;
}

.tags-list {
    margin: 0;
    li {
        margin-bottom: 5px;
    }
}

.page-content {
    margin-top: 75px;
    line-height: 1.6;
    font-size: 1.3em;
    max-width: 800px;

    h1 {
        text-align: center;
    }
}

.featured {
    article {
        line-height: 1.6;
        font-size: 1.1em;
    }

    .promo {
        color: #999;
        font-size: 0.9em;
    }
}

.toc ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}
