@import '../../style/bootstrap.scss';

.card {
	position: relative;
	padding: 1rem;
	background: $white;
	border-radius: 0.3rem;
	box-shadow: 5px 15px 25px -15px rgba(0,0,0,0.1);
	transition: transform 0.15s ease-out;

	&:hover {
		transform: translateY(-2px);
	}

	&:hover::before {
		opacity: 1;
	}

	&::before {
		content: '';
		z-index: -1;
		transition: opacity 0.15s ease-out;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		outline: 5rem red;
		box-shadow: 5px 15px 25px -15px rgba(0,0,0,0.15);
	}
}

.link {
	display: inline-block;
	word-break: break-all;
	width: 100%;
}

.repo {
	composes: card;
	margin: 1rem 0 0 0;
}

.info {
	display: flex;
	flex-wrap: wrap;
}

.detail {
	min-width: 2rem;
	margin-right: 1.5rem;
}

.topics {
	margin-left: auto;
}

.topic {
	background: $gray-100;
	padding: 0.1rem 0.25rem;
	border-radius: 0.5rem;
	margin-right: 0.5rem;
}

@include media-breakpoint-up(md) {
	.projects {
		display: flex;
		flex-wrap: wrap;		
	}

	.repo {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		width: calc(50% - 1rem);
		margin-left: 1rem;
	}	
}

@include media-breakpoint-up(xl) {
	.repo {
		width: calc(33% - 1rem);
	}
}