@import '../../style/utilities.scss';

/* Namespace for algolia elements */
.projects {
  :global(.ais-InfiniteHits__root) {
    display: grid;
    grid-gap: 1rem;
  }
}

.link {
  display: inline-block;
  word-break: break-all;
  width: 100%;
}

.info {
  display: flex;
  flex-wrap: wrap;
}

.detail {
  min-width: 2rem;
  margin-right: 1.5rem;
}

.topics {
  margin-left: auto;
}

.topic {
  background: $gray-100;
  padding: 0.1rem 0.25rem;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
}

@include media-breakpoint-up(md) {
  .projects {
    display: flex;

    :global(.ais-InfiniteHits__root) {
      margin-left: 1rem;
	    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    }

    :global(.ais-InfiniteHits__loadMore) {
      grid-column: 1 / -1;
    }
  }

  .search {
    position: fixed;
    position: sticky;
    top: 6rem;
  }
}

@include media-breakpoint-up(lg) {
  .projects {
    :global(.card) {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
