// 3rd-party imports
@import './utilities.scss';
@import './bootstrap.scss';
@import './animation.scss';

html, body {
	height: 100%;
}

body {
	padding-top: 4rem;
}

#app {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	&::before, &::after {
		content: '';
		position: fixed;
		height: 35rem;
		width: 100%;
		border-radius: 3rem;
		transform: rotate(12.5deg);
		background: $purple;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
		z-index: -1;
	}

	&::before {
		top: -15rem;
		left: 0;
		background: linear-gradient(to bottom right, $indigo, $purple);
	}

	&::after {
		bottom: -45%;
		left: 15%;
		background: linear-gradient(to bottom right, $purple 25%, $pink);
		z-index: -1;
	}
}

.container, .container-fluid {
	margin: 2rem 1rem;
}

@include media-breakpoint-up(md) {
	.container {
		margin: 2rem auto;
		max-width: map-get($container-max-widths, md);
	}
}

@include media-breakpoint-up(xl) {
	.container {
		max-width: map-get($container-max-widths, xl);
	}
}

.card, .card-static, .ais-InfiniteHits__loadMore {
	position: relative;
	padding: 1rem;
	background: $white;
	border-radius: 0.3rem;
	box-shadow: 5px 15px 25px -15px rgba(0,0,0,0.1);
	transition: transform 0.15s ease-out;
}

.card, .ais-InfiniteHits__loadMore {
	&:hover {
		transform: translateY(-2px);
	}

	&:hover::before {
		opacity: 1;
	}

	&::before {
		content: '';
		z-index: -1;
		transition: opacity 0.15s ease-out;
		opacity: 0;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		outline: 5rem red;
		box-shadow: 5px 15px 25px -15px rgba(0,0,0,0.15);
	}
}

.ais-PoweredBy__root {
	margin: 0 0 1.5rem;
	max-width: 300px;
	justify-content: flex-end;
	font-size: 13px;
}

.search-container {
	margin-bottom: 1rem;
}

@include media-breakpoint-up(sm) {
	.search-container {
		flex: 1 0 auto;
	}
	.hits-container {
		flex: 1 1 70%;
	}
}

@include media-breakpoint-up(xl) {
	.search-container {
		margin-left: 5rem;
	}
	.hits-container {
		margin-right: 10rem;
	}
}
