@import '../../style/utilities.scss';

/* Namespace for algolia elements */
.users {
	:global(.card) {
		margin-bottom: 1rem;
	}
}

.link {
	composes: link from '../projects/style.scss';
}

.search {
	composes: search from '../projects/style.scss';
}

.profileLink {
	composes: h4 from global;
	composes: link;
	margin-bottom: 0;
}

.avatar {
	height: 76px;
	width: 76px;
	margin: 1rem;
}

.repos {
	margin: 0.35rem 0;
	padding: 0;
}

.repo {
	display: flex;
	justify-content: space-between;
	padding: 0.1rem 0;
}

.languages {
	margin: 0.5rem 0;
}

.language {
	composes: topic from '../projects/style.scss';
}

@include media-breakpoint-up(sm) {
	.users {
		display: flex;
		
		:global(.card) {
			margin-left: 1rem;
		}
	}
}

@include media-breakpoint-up(md) {
	.users {
		:global(.card) {
			margin-left: 1rem;
		}
	}
}

@include media-breakpoint-up(lg) {
	.users {
		:global(.ais-InfiniteHits__root) {
			display: grid;                                        
			grid-template-columns: repeat(auto-fill, minmax(40%, 2fr)); 
		}

		:global(.card) {
			margin: 0 0 1.5rem 1.5rem;
		}
	}
}

@include media-breakpoint-up(xl) {

	.users {
		:global(.ais-InfiniteHits__root) {                                 
			grid-template-columns: repeat(auto-fill, minmax(30%, 1fr)); 
		}
	}
}
