@import '../../style/utilities.scss';

/* Namespace for algolia elements */
.users {
  :global(.ais-InfiniteHits__root) {
    display: grid;
    grid-gap: 1rem;
  }
}

.link {
	composes: link from '../projects/style.scss';
}

.search {
	composes: search from '../projects/style.scss';
}

.profileLink {
	composes: h4 from global;
	composes: link;
	margin-bottom: 0;
}

.avatar {
	height: 76px;
	width: 76px;
	margin: 0.2rem 0;
}

.repos {
	margin: 0.35rem 0;
	padding: 0;
}

.repo {
	display: flex;
	justify-content: space-between;
	padding: 0.1rem 0;
}

.languages {
	display: flex;
	flex-wrap: wrap;
	margin: 0.5rem 0;
}

.language {
	composes: topic from '../projects/style.scss';
}

@include media-breakpoint-up(md) {
	.users {
		display: flex;

		:global(.ais-InfiniteHits__root) {
			margin-left: 1rem;
			grid-template-columns: repeat(auto-fill, minmax(250px, auto));
		}

		:global(.ais-InfiniteHits__loadMore) {
			grid-column: 1 / -1;
		}
	}
}
